In [211]:
import numpy as np
import pandas as pd
import csv

Load data in .txt format and transform it into Dataframe

In [302]:
f = open('/Users/lipinyuan/Downloads/Firearm related death.txt').readlines()

data = []
firstLine = f.pop(0)
for line in f:
    data_line = line.rstrip().split('\t')
    data.append(data_line)

df = pd.DataFrame(data)

In [284]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1822 entries, 0 to 1821
Data columns (total 10 columns):
0    1822 non-null object
1    1740 non-null object
2    1740 non-null object
3    1740 non-null object
4    1740 non-null object
5    1740 non-null object
6    1740 non-null object
7    1740 non-null object
8    1740 non-null object
9    1740 non-null object
dtypes: object(10)
memory usage: 142.4+ KB

Read data and rename the columns

In [285]:
df.head()

,0,1,2,3,4,5,6,7,8,9
0,,"""1999""","""1999""","""Alabama""","""01""","""Intentional self-harm (suicide) by discharge ...","""GR113-125""",436,4430141,9.8
1,,"""1999""","""1999""","""Alabama""","""01""","""Assault (homicide) by discharge of firearms (...","""GR113-128""",293,4430141,6.6
2,,"""1999""","""1999""","""Alaska""","""02""","""Intentional self-harm (suicide) by discharge ...","""GR113-125""",55,624779,8.8
3,,"""1999""","""1999""","""Alaska""","""02""","""Assault (homicide) by discharge of firearms (...","""GR113-128""",27,624779,4.3
4,,"""1999""","""1999""","""Arizona""","""04""","""Intentional self-harm (suicide) by discharge ...","""GR113-125""",477,5023823,9.5

In [286]:
df = df.rename(columns={0: 'Notes', 
                   1: 'Year',
                   2:'Year Code',
                   3:"State",
                   4:"State Code",
                   5:"Death_Cause",
                   6:"Death_Cause_List_Code",
                   7:"Deaths",
                   8:"Population",
                   9:"Crude Rate"})

In [287]:
df.head()

,Notes,Year,Year Code,State,State Code,Death_Cause,Death_Cause_List_Code,Deaths,Population,Crude Rate
0,,"""1999""","""1999""","""Alabama""","""01""","""Intentional self-harm (suicide) by discharge ...","""GR113-125""",436,4430141,9.8
1,,"""1999""","""1999""","""Alabama""","""01""","""Assault (homicide) by discharge of firearms (...","""GR113-128""",293,4430141,6.6
2,,"""1999""","""1999""","""Alaska""","""02""","""Intentional self-harm (suicide) by discharge ...","""GR113-125""",55,624779,8.8
3,,"""1999""","""1999""","""Alaska""","""02""","""Assault (homicide) by discharge of firearms (...","""GR113-128""",27,624779,4.3
4,,"""1999""","""1999""","""Arizona""","""04""","""Intentional self-harm (suicide) by discharge ...","""GR113-125""",477,5023823,9.5

In [288]:
df.dtypes.index

Index(['Notes', 'Year', 'Year Code', 'State', 'State Code', 'Death_Cause',
       'Death_Cause_List_Code', 'Deaths', 'Population', 'Crude Rate'],
      dtype='object')

Extract the data and remove double quotes

In [289]:
df2 = df.drop(df.columns[[0,2,4,6,9]], axis = 1)

In [290]:
df2 = df2.dropna()

In [293]:
df2['State'] = df2['State'].str.replace('"','')
df2['Year'] = df2['Year'].str.replace('"','')
df2['Death_Cause'] = df2['Death_Cause'].str.replace('"','')

In [272]:
df2["Death_Cause"].unique()

array(['Intentional self-harm (suicide) by discharge of firearms (X72-X74)',
       'Assault (homicide) by discharge of firearms (*U01.4,X93-X95)'],
      dtype=object)

Change the long description to simple word

In [294]:
df2 = df2.replace("Intentional self-harm (suicide) by discharge of firearms (X72-X74)","suicide").replace(
    "Assault (homicide) by discharge of firearms (*U01.4,X93-X95)","homicide")

In [295]:
df2.head()

   Year    State Death_Cause Deaths Population
0  1999  Alabama     suicide    436    4430141
1  1999  Alabama    homicide    293    4430141
2  1999   Alaska     suicide     55     624779
3  1999   Alaska    homicide     27     624779
4  1999  Arizona     suicide    477    5023823

Transform datatype from object to integer

In [296]:
df2['Deaths'] = df2['Deaths'].astype(np.int)
df2['Population'] = df2['Population'].astype(np.int)

In [298]:
df2.dtypes

Year           object
State          object
Death_Cause    object
Deaths          int64
Population      int64
dtype: object

Separate dataset into two categories

In [273]:
suicide=df2[(df2['Death_Cause'].str.contains('suicide',na=False))]

In [274]:
suicide.head()

,Year,State,Death_Cause_List,Deaths,Population
0,1999,Alabama,Intentional self-harm (suicide) by discharge o...,436,4430141
2,1999,Alaska,Intentional self-harm (suicide) by discharge o...,55,624779
4,1999,Arizona,Intentional self-harm (suicide) by discharge o...,477,5023823
6,1999,Arkansas,Intentional self-harm (suicide) by discharge o...,236,2651860
8,1999,California,Intentional self-harm (suicide) by discharge o...,1534,33499204

In [299]:
homicide=df2[(df2['Death_Cause'].str.contains('homicide',na=False))]

In [300]:
homicide.head()

   Year       State Death_Cause  Deaths  Population
1  1999     Alabama    homicide     293     4430141
3  1999      Alaska    homicide      27      624779
5  1999     Arizona    homicide     303     5023823
7  1999    Arkansas    homicide     120     2651860
9  1999  California    homicide    1387    33499204

Export Data for visualization in Tableau

In [301]:
df2.to_csv("firearm_death.csv", encoding='utf-8')

In [279]:
homicide.to_csv("homicide_death.csv", encoding='utf-8')

In [275]:
suicide.to_csv("suicide_death.csv", encoding='utf-8')